/* 
TABLE OF CONTENTS

1.
2.
3.
4.
5.
6.

*/

// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);
@import url(https://fonts.googleapis.com/css2?family=Righteous);
@import url(https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200;7..72,400;7..72,500);


// Import variables
@import "partials/variables.scss";

/* RESET =================================================== */
@import "partials/reset";

/* INDEX =================================================== */
@import "partials/index";

/* HEADER-FOOTER =========================================== */
@import "partials/header-footer";

/* LOGIN =================================================== */
@import "partials/login";

/* SIGN UP ================================================= */
@import "partials/signup-client";
@import "partials/signup-artist";

/* APPOINTMENTS ============================================ */
@import "partials/book-appointment-main";
@import "partials/book-appointment-single";

/* APPOINTMENTS MANAGEMENT CLIENT ============================================ */
@import "partials/appointment-management-client";

/* APPOINTMENTS MANAGEMENT ARTIST ============================================ */
@import "partials/appointment-management-artist";

/* TATTOO EXPLORER */

@import "partials/tattoo-explorer-main";


