/* 
TABLE OF CONTENTS

1.
2.
3.
4.
5.
6.

*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);
@import url(https://fonts.googleapis.com/css2?family=Righteous);
@import url(https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200;7..72,400;7..72,500);
/* RESET =================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* INDEX =================================================== */
.home-page-background-cover {
  background: url(/integrated_project_team4_summer_2022/images/hero-image.jpeg) no-repeat center 45%;
  -webkit-background-size: cover;
  background-size: cover;
  height: 85vh;
}
.home-page-background-cover .home-page-container {
  background-color: rgba(0, 0, 0, 0.2);
  height: inherit;
  display: flex;
}
.home-page-background-cover .home-page-container .home-page-content-container {
  align-self: center;
  width: 80vw;
  margin: 0 auto;
}
.home-page-background-cover .home-page-container .home-page-content-container .hero-content {
  display: flex;
  flex-flow: column nowrap;
}
.home-page-background-cover .home-page-container .home-page-content-container .hero-content h2 {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.home-page-background-cover .home-page-container .home-page-content-container .hero-content p {
  color: #FFF;
  font-family: "Righteous", cursive;
  font-size: 3.5rem;
}

/* HEADER-FOOTER =========================================== */
header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  margin: 0;
  padding: 0;
  padding-top: 0.5 rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}
header nav {
  padding: 0;
  margin: 0;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0 3rem;
  margin: 0;
}
header nav ul img {
  max-width: 140px;
  max-height: 140px;
}
header nav ul li {
  align-self: center;
  font-family: "Righteous", cursive;
  font-size: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #372019;
}
header .header-search-container {
  display: flex;
  flex-flow: row nowrap;
}
header .header-search-container form {
  align-self: center;
}
header .header-search-container button {
  margin-left: 4em;
  border: none;
  background-color: white;
}
header .header-search-container button img {
  max-width: 33px;
  max-height: 33px;
}
header .header-search-container input {
  display: none;
}
header .header-login-button-container {
  display: flex;
  justify-content: end;
}
header .header-login-button-container a {
  align-self: center;
  margin-right: 4em;
  text-decoration: none;
  color: #372019;
  border: 1px solid #FF9E81;
  border-radius: 25px;
  padding: 0.5rem 1.875rem;
  font-family: "Poppins", sans-serif;
}

footer {
  border-top: 1px solid black;
}
footer .footer-info-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 5%;
  margin-right: 5%;
}
footer .footer-info-container h3 {
  font-family: "Literata", serif;
  font-weight: 500;
  text-align: start;
}
footer .footer-info-container p {
  font-family: "Literata", serif;
  text-align: start;
  margin-top: 1rem;
}
footer .footer-info-container p a {
  text-decoration: none;
  text-align: start;
  color: black;
}
footer .footer-nav-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}
footer .footer-nav-container nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
footer .footer-nav-container nav ul li {
  max-width: 30px;
  max-height: 30px;
}
footer .footer-nav-container p {
  text-align: center;
  font-family: "Literata", serif;
  color: #505050;
  font-size: 11px;
  align-self: flex-end;
}

/* LOGIN =================================================== */
.main-container-login {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 8rem;
  margin-top: 8rem;
  width: 33%;
  align-content: center;
}
.main-container-login h2 {
  font-family: "Righteous", cursive;
  color: #FF0000;
}
.main-container-login .login-form-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.main-container-login .login-form-container .login-email-container input {
  width: 100%;
  border-radius: 25px;
  padding: 0.675rem;
  font-family: "Poppins", sans-serif;
  border-color: #372019;
}
.main-container-login .login-form-container .login-password-container {
  display: flex;
  flex-flow: column nowrap;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}
.main-container-login .login-form-container .login-password-container .login-password-container-child {
  display: flex;
}
.main-container-login .login-form-container .login-password-container .login-password-container-child input {
  width: 100%;
  border-radius: 25px;
  padding: 0.675rem;
  font-family: "Poppins", sans-serif;
  border-color: #372019;
}
.main-container-login .login-form-container .login-button {
  width: 50%;
  border-radius: 25px;
  margin: 0 auto;
  padding: 0.675rem;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  background-color: #FF0000;
  border: 1px solid #FF0000;
}
.main-container-login .login-form-container .forgot-password-p {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  font-weight: 500;
  margin-top: 0.5rem;
}
.main-container-login .login-form-container .forgot-password-p a {
  color: #FF9E81;
}
.main-container-login .login-form-container .artist-sign-in-p {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #372019;
  font-size: 14px;
}
.main-container-login .login-form-container .artist-sign-in-p a {
  color: #FF9E81;
}
.main-container-login .login-form-container .sign-up-p {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  font-weight: 500;
  color: #372019;
  font-size: 14px;
}
.main-container-login .login-form-container .sign-up-p a {
  color: #FF9E81;
}

/* SIGN UP ================================================= */
.sign-up-client-main-container h2 {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: "Righteous", cursive;
  color: #FF0000;
}
.sign-up-client-main-container .sign-up-client-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-email-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-password-container {
  display: flex;
  flex-flow: column nowrap;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-password-container .sign-up-client-password-container-child input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-full-name-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-city-container {
  grid-column: 2/3;
  grid-row: 2/3;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-city-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-postal-code-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-phone-number-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-button-container {
  display: flex;
  justify-content: center;
}
.sign-up-client-main-container .sign-up-client-button-container button {
  width: 20%;
  border-radius: 25px;
  padding: 0.675rem;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  background-color: #FF0000;
  border: 1px solid #FF0000;
}

.sign-up-client-hr-container .horizontal-line {
  width: 30%;
  text-align: center;
  border-bottom: 1px solid #372019;
  line-height: 0.1em;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}
.sign-up-client-hr-container .horizontal-line span {
  background-color: #FFF;
  padding: 0 10px;
}

.sign-up-client-alternative-login {
  margin: 1rem 25%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sign-up-cliente-alternative-sign-in p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #372019;
  font-size: 14px;
  margin-bottom: 1rem;
}
.sign-up-cliente-alternative-sign-in p a {
  color: #FF9E81;
}

.sign-up-client-alt-artist p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #372019;
  font-size: 14px;
  margin-bottom: 2rem;
}
.sign-up-client-alt-artist p a {
  color: #FF9E81;
}

/* APPOINTMENTS ============================================ */
.book-appointment-main-container {
  background-color: #F1DBCB;
  min-height: 300px;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
}
.book-appointment-main-container h1 {
  font-family: "Righteous", cursive;
  text-align: center;
  margin-bottom: 2rem;
}
.book-appointment-main-container .book-appointment-main-steps ol {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 0;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.book-appointment-main-container .book-appointment-main-steps ol li {
  justify-self: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  flex-basis: 16%;
}
.book-appointment-main-container .book-appointment-main-start-now-btn {
  border: 1px solid red;
  border-radius: 25px;
  background-color: #FF0000;
  width: 180px;
  margin: 0 auto;
  margin-top: 1.2rem;
  padding: 0.675rem;
}
.book-appointment-main-container .book-appointment-main-start-now-btn a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  text-align: center;
}

.book-appointment-main-planning-tattoos-container {
  height: 500px;
}
.book-appointment-main-planning-tattoos-container h2 {
  font-family: "Righteous", cursive;
  text-align: center;
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
