/* 
TABLE OF CONTENTS

1.
2.
3.
4.
5.
6.

*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);
@import url(https://fonts.googleapis.com/css2?family=Righteous);
@import url(https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200;7..72,400;7..72,500);
/* RESET =================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* INDEX =================================================== */
.home-page-background-cover {
  background: url(/integrated_project_team4_summer_2022/images/hero-image.jpeg) no-repeat center 45%;
  -webkit-background-size: cover;
  background-size: cover;
  height: 85vh;
}
.home-page-background-cover .home-page-container {
  background-color: rgba(0, 0, 0, 0.2);
  height: inherit;
  display: flex;
}
.home-page-background-cover .home-page-container .home-page-content-container {
  align-self: center;
  width: 80vw;
  margin: 0 auto;
}
.home-page-background-cover .home-page-container .home-page-content-container .hero-content {
  display: flex;
  flex-flow: column nowrap;
}
.home-page-background-cover .home-page-container .home-page-content-container .hero-content h2 {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.home-page-background-cover .home-page-container .home-page-content-container .hero-content p {
  color: #FFF;
  font-family: "Righteous", cursive;
  font-size: 3.5rem;
}

/* HEADER-FOOTER =========================================== */
.header-desktop {
  display: none;
}
@media screen and (min-width: 900px) {
  .header-desktop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .header-desktop nav {
    padding: 0;
  }
  .header-desktop nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 0 3rem;
    margin: 0;
  }
  .header-desktop nav ul img {
    max-width: 140px;
    max-height: 140px;
  }
  .header-desktop nav ul li {
    align-self: center;
    font-family: "Righteous", cursive;
    font-size: 20px;
  }
  .header-desktop nav ul li a {
    text-decoration: none;
    color: #372019;
  }
  .header-desktop .header-search-container {
    display: flex;
    flex-flow: row nowrap;
  }
  .header-desktop .header-search-container form {
    align-self: center;
  }
  .header-desktop .header-search-container button {
    margin-left: 4em;
    border: none;
    background-color: white;
  }
  .header-desktop .header-search-container button img {
    max-width: 33px;
    max-height: 33px;
  }
  .header-desktop .header-search-container input {
    display: none;
  }
  .header-desktop .header-login-button-container {
    display: flex;
    justify-content: end;
  }
  .header-desktop .header-login-button-container a {
    align-self: center;
    margin-right: 4em;
    text-decoration: none;
    color: #372019;
    border: 1px solid #FF9E81;
    border-radius: 25px;
    padding: 0.5rem 1.875rem;
    font-family: "Poppins", sans-serif;
  }
}

.header-mobile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #372019;
  padding: 1rem 2rem;
}
.header-mobile img {
  height: 70px;
  width: 70px;
}
.header-mobile button {
  background-color: #FFF;
  border: none;
}
.header-mobile button img {
  height: 60px;
  width: 60px;
}
@media screen and (min-width: 900px) {
  .header-mobile {
    display: none;
  }
}

/* FOOTER */
footer {
  border-top: 2px solid #FF9E81;
  display: flex;
  flex-flow: column nowrap;
}
footer .footer-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80vw;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 2.2rem;
}
@media screen and (min-width: 900px) {
  footer .footer-main-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    width: 95vw;
  }
}
footer .footer-main-container .footer-company-container {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 80%;
  justify-self: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 900px) {
  footer .footer-main-container .footer-company-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
footer .footer-main-container .footer-company-container .footer-company-content-container {
  display: flex;
  flex-flow: column nowrap;
}
footer .footer-main-container .footer-company-container .footer-company-content-container h3 {
  align-self: flex-end;
  font-family: "Righteous", cursive;
  width: 70%;
}
footer .footer-main-container .footer-company-container .footer-company-content-container p {
  width: 70%;
  align-self: flex-end;
  font-family: "Poppins", sans-serif;
}
footer .footer-main-container .footer-company-container .footer-company-content-container p a {
  text-decoration: none;
  font-size: small;
  color: #372019;
}
footer .footer-main-container .footer-help-centre-container {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: start;
  width: 80%;
  justify-self: center;
}
@media screen and (min-width: 900px) {
  footer .footer-main-container .footer-help-centre-container {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
footer .footer-main-container .footer-help-centre-container .footer-help-centre-content-container {
  display: flex;
  flex-flow: column nowrap;
}
footer .footer-main-container .footer-help-centre-container .footer-help-centre-content-container h3 {
  align-self: flex-end;
  font-family: "Righteous", cursive;
  width: 70%;
}
footer .footer-main-container .footer-help-centre-container .footer-help-centre-content-container p {
  width: 70%;
  align-self: flex-end;
  font-family: "Poppins", sans-serif;
}
footer .footer-main-container .footer-help-centre-container .footer-help-centre-content-container p a {
  text-decoration: none;
  font-size: small;
  color: #372019;
}
footer .footer-main-container .footer-legal-container {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
  width: 80%;
  justify-self: center;
}
@media screen and (min-width: 900px) {
  footer .footer-main-container .footer-legal-container {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
footer .footer-main-container .footer-legal-container .footer-legal-content-container {
  display: flex;
  flex-flow: column nowrap;
}
footer .footer-main-container .footer-legal-container .footer-legal-content-container h3 {
  align-self: flex-end;
  font-family: "Righteous", cursive;
  width: 70%;
}
footer .footer-main-container .footer-legal-container .footer-legal-content-container p {
  width: 70%;
  align-self: flex-end;
  font-family: "Poppins", sans-serif;
}
footer .footer-main-container .footer-legal-container .footer-legal-content-container p a {
  text-decoration: none;
  font-size: small;
  color: #372019;
}
footer .footer-main-container .footer-nav-container {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  width: 80%;
}
@media screen and (min-width: 900px) {
  footer .footer-main-container .footer-nav-container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
footer .footer-main-container .footer-nav-container .footer-nav-content {
  display: flex;
  flex-flow: column nowrap;
}
footer .footer-main-container .footer-nav-container .footer-nav-content nav {
  align-self: end;
  width: 70%;
}
footer .footer-main-container .footer-nav-container .footer-nav-content nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}
footer .footer-main-container .footer-nav-container .footer-nav-content nav ul li {
  justify-self: end;
}
footer .footer-main-container .footer-nav-container .footer-nav-content nav ul li img {
  height: 30px;
  width: 30px;
}
@media screen and (min-width: 900px) {
  footer .footer-main-container .footer-nav-container .footer-nav-content nav ul li img {
    height: 40px;
    width: 40px;
  }
}
footer .footer-main-container .copyright-container {
  display: none;
}
@media screen and (min-width: 900px) {
  footer .footer-main-container .copyright-container {
    display: block;
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-size: small;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
footer button {
  border: 1px solid red;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 1px solid #DBBAAD;
  background-color: #DBBAAD;
}
footer button img {
  height: 50px;
  width: 50px;
}
@media screen and (min-width: 900px) {
  footer button {
    display: none;
  }
}
footer .copyright {
  text-align: center;
  margin: 2rem 0;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
@media screen and (min-width: 900px) {
  footer .copyright {
    display: none;
  }
}

/* LOGIN =================================================== */
.main-container-login {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 2rem 12%;
}
@media screen and (min-width: 600px) {
  .main-container-login {
    margin: 2rem 15%;
  }
}
@media screen and (min-width: 700px) {
  .main-container-login {
    margin: 2rem 18%;
  }
}
@media screen and (min-width: 760px) {
  .main-container-login {
    margin: 2rem 21%;
  }
}
@media screen and (min-width: 800px) {
  .main-container-login {
    margin: 2rem 24%;
  }
}
@media screen and (min-width: 900px) {
  .main-container-login {
    margin: 0 auto;
    margin-bottom: 8rem;
    margin-top: 8rem;
    width: 33%;
    align-content: center;
  }
}
.main-container-login h2 {
  font-family: "Righteous", cursive;
  color: #FF0000;
  margin-bottom: 1.875rem;
}
.main-container-login .login-form-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.875rem;
}
@media screen and (min-width: 900px) {
  .main-container-login .login-form-container {
    gap: 1rem;
  }
}
.main-container-login .login-form-container .login-email-container input {
  width: 100%;
  border-radius: 25px;
  padding: 0.675rem;
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 600;
  outline: #372019;
}
.main-container-login .login-form-container .login-password-container {
  display: flex;
  flex-flow: column nowrap;
}
.main-container-login .login-form-container .login-password-container input {
  width: 100%;
  border-radius: 25px;
  padding: 0.675rem;
  font-family: "Poppins", sans-serif;
  border-color: #372019;
  font-size: small;
  font-weight: 600;
  outline: #372019;
}
.main-container-login .login-form-container .login-password-container small {
  text-align: right;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-family: "Righteous", cursive;
  color: grey;
}
@media screen and (min-width: 900px) {
  .main-container-login .login-form-container .login-password-container small {
    display: none;
  }
}
.main-container-login .login-form-container .login-button {
  width: 40%;
  border-radius: 25px;
  margin: 0 auto;
  padding: 0.675rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FFF;
  background-color: #FF0000;
  border: 1px solid #FF0000;
}
.main-container-login .forgot-password-p {
  display: none;
}
@media screen and (min-width: 900px) {
  .main-container-login .forgot-password-p {
    display: block;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    font-weight: 500;
    margin-top: 2rem;
  }
  .main-container-login .forgot-password-p a {
    color: #FF9E81;
  }
}
.main-container-login .artist-sign-in-p {
  display: none;
}
.main-container-login .sign-up-p {
  margin-top: 8rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #372019;
  font-size: 14px;
}
@media screen and (min-width: 900px) {
  .main-container-login .sign-up-p {
    margin-top: 2rem;
  }
}
.main-container-login .sign-up-p a {
  color: #FF9E81;
}

/* SIGN UP ================================================= */
.sign-up-client-main-container h2 {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-family: "Righteous", cursive;
  color: #FF0000;
}
.sign-up-client-main-container .sign-up-client-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-email-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-password-container {
  display: flex;
  flex-flow: column nowrap;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-password-container .sign-up-client-password-container-child input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-full-name-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-city-container {
  grid-column: 2/3;
  grid-row: 2/3;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-city-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-postal-code-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-form-container .sign-up-client-phone-number-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-client-main-container .sign-up-client-button-container {
  display: flex;
  justify-content: center;
}
.sign-up-client-main-container .sign-up-client-button-container button {
  width: 15%;
  border-radius: 25px;
  padding: 0.675rem;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  background-color: #FF0000;
  border: 1px solid #FF0000;
}

.sign-up-client-hr-container .horizontal-line {
  width: 30%;
  text-align: center;
  border-bottom: 1px solid #372019;
  line-height: 0.1em;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}
.sign-up-client-hr-container .horizontal-line span {
  background-color: #FFF;
  padding: 0 10px;
}

.sign-up-client-alternative-login {
  margin: 1rem 25%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sign-up-client-alternative-sign-in p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #372019;
  font-size: 14px;
  margin-bottom: 1rem;
}
.sign-up-client-alternative-sign-in p a {
  color: #FF9E81;
}

.sign-up-client-alt-artist p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #372019;
  font-size: 14px;
  margin-bottom: 4rem;
}
.sign-up-client-alt-artist p a {
  color: #FF9E81;
}

.sign-up-artist-main-container h2 {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-family: "Righteous", cursive;
  color: #FF0000;
}
.sign-up-artist-main-container .sign-up-artist-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1.5fr 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-email-container {
  grid-column: 1/2;
  grid-row: 1/2;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-email-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-full-name-container {
  grid-column: 1/2;
  grid-row: 2/3;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-full-name-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-postal-code-container {
  grid-column: 1/2;
  grid-row: 3/4;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-postal-code-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-password-container {
  grid-column: 2/3;
  grid-row: 1/2;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-password-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-city-container {
  grid-column: 2/3;
  grid-row: 2/3;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-city-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-phone-number-container {
  grid-column: 2/3;
  grid-row: 3/4;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-phone-number-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-bio-container {
  grid-column: 1/3;
  grid-row: 4/5;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-bio-container textarea {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  border: 2px solid #372019;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-website-url-container {
  grid-column: 1/2;
  grid-row: 5/6;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-website-url-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-instagram-url-container {
  grid-column: 2/3;
  grid-row: 5/6;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-instagram-url-container input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 0.675rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-upload-images-container {
  grid-column: 1/3;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
  justify-content: space-around;
  grid-gap: 0.875rem;
  height: 80px;
  padding-left: 1rem;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-upload-images-container p {
  font-family: "Poppins", sans-serif;
  color: #FF0000;
  font-weight: 500;
  align-self: center;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-upload-images-container button {
  background-color: #FFF;
}
.sign-up-artist-main-container .sign-up-artist-form-container .sign-up-artist-upload-images-container button img {
  margin: 0 auto;
}
.sign-up-artist-main-container .sign-up-artist-sign-up-button-container {
  display: flex;
  justify-content: center;
}
.sign-up-artist-main-container .sign-up-artist-sign-up-button-container button {
  justify-self: center;
  width: 15%;
  border: 1px solid #FF0000;
  padding: 0.675rem;
  border-radius: 25px;
  color: #FFF;
  background-color: #FF0000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.sign-up-artist-main-container .sign-up-artist-alternative-sign-in p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #372019;
  font-size: 16px;
  margin-bottom: 1rem;
}
.sign-up-artist-main-container .sign-up-artist-alternative-sign-in p a {
  color: #FF9E81;
}
.sign-up-artist-main-container .sign-up-client-alt-client p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #372019;
  font-size: 14px;
  margin-bottom: 4rem;
}
.sign-up-artist-main-container .sign-up-client-alt-client p a {
  color: #FF9E81;
}

/* APPOINTMENTS ============================================ */
.book-appointment-main-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: #F1DBCB;
  padding: 2rem 0;
  height: 40%;
  border-bottom: 2px solid #FF9E81;
}
@media screen and (min-width: 900px) {
  .book-appointment-main-container {
    min-height: 300px;
  }
}
.book-appointment-main-container h1 {
  font-family: "Righteous", cursive;
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 900px) {
  .book-appointment-main-container h1 {
    margin-bottom: 2rem;
  }
}
.book-appointment-main-container button {
  width: 25%;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #FF0000;
  padding: 0.675rem;
  border: 1px solid #FF0000;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .book-appointment-main-container button {
    width: 15%;
  }
}
.book-appointment-main-container button a {
  text-decoration: none;
  color: #FFF;
}

.book-appointment-main-steps {
  display: flex;
  justify-content: center;
  width: 40vw;
  margin: 0 auto;
}
@media screen and (min-width: 1100px) {
  .book-appointment-main-steps {
    width: 60vw;
    margin-bottom: 1rem;
  }
}
.book-appointment-main-steps ol {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}
@media screen and (min-width: 1100px) {
  .book-appointment-main-steps ol {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
  }
}
.book-appointment-main-steps ol li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 300;
}
.book-appointment-main-steps ol li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.book-appointment-main-planning-tattoos-container {
  height: 35vh;
}
.book-appointment-main-planning-tattoos-container h2 {
  font-family: "Righteous", cursive;
  text-align: center;
  margin-top: 2rem;
}

.book-appointment-single-main-container {
  overflow: scroll;
}
.book-appointment-single-main-container .book-appointment-single-form-container {
  width: 100%;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container {
  background-color: #F1DBCB;
  border-bottom: 2px solid #FF9E81;
  height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container {
    gap: 1rem;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container .left-arrow-icon-container {
  position: absolute;
  left: 0;
  top: 0;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container .left-arrow-icon-container img {
  height: 50px;
  width: 50px;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container .left-arrow-icon-container img {
    margin-bottom: 0.875rem;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container label {
  font-family: "Righteous", cursive;
  align-self: center;
  font-size: 29px;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
  border: 2px solid #372019;
  align-self: center;
  font-family: "Poppins", sans-serif;
  width: 33vw;
  border-radius: 25px;
  padding: 0.675rem;
  font-size: small;
}
@media screen and (max-width: 380px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 80vw;
  }
}
@media screen and (min-width: 380px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 75vw;
  }
}
@media screen and (min-width: 450px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 65vw;
  }
}
@media screen and (min-width: 500px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 60vw;
  }
}
@media screen and (min-width: 550px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 55vw;
  }
}
@media screen and (min-width: 600px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 50vw;
  }
}
@media screen and (min-width: 650px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 45vw;
  }
}
@media screen and (min-width: 700px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 40vw;
  }
}
@media screen and (min-width: 800px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-artist-options-container select {
    width: 35vw;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container h2 {
  font-family: "Righteous", cursive;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container h2 {
    text-align: left;
    margin-left: 7%;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 1rem 6%;
  padding-bottom: 2rem;
}
@media screen and (min-width: 600px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container {
    margin: 1rem 7%;
  }
}
@media screen and (min-width: 650px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container {
    margin: 1rem 8%;
  }
}
@media screen and (min-width: 700px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container {
    margin: 1rem 9%;
  }
}
@media scrren and (min-width: 800px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container {
    margin: 1rem 10%;
  }
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container {
    display: grid;
    margin-right: 7%;
    margin-left: 7%;
    grid-template-columns: 1fr 1fr;
  }
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .grid-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding-right: 1rem;
  }
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .grid-wrapper-1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding-left: 2rem;
    border-left: 1.5px solid #FF9E81;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-placement-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-placement-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-placement-container label {
  font-family: "Righteous", cursive;
  color: #767676;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-placement-container select {
  border-radius: 25px;
  padding: 0.675rem;
  border: 1.5px solid #767676;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-size-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-size-container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-size-container label {
  font-family: "Righteous", cursive;
  color: #767676;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-size-container select {
  border-radius: 25px;
  padding: 0.675rem;
  border: 1.5px solid #767676;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-allergies-health-container {
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-allergies-health-container {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-allergies-health-container label {
  font-family: "Righteous", cursive;
  color: #767676;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-allergies-health-container select {
  border-radius: 25px;
  padding: 0.675rem;
  border: 1.5px solid #767676;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-short-description-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-short-description-container {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-short-description-container .textarea-label {
  font-family: "Righteous", cursive;
  color: #767676;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-short-description-container textarea {
  border-radius: 25px;
  border: 1.5px solid #767676;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-short-description-container .book-appointment-single-color-tattoo-container {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  gap: 0.4rem;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-short-description-container .book-appointment-single-color-tattoo-container label {
  font-family: "Poppins", sans-serif;
  font-size: small;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-short-description-container .book-appointment-single-color-tattoo-container select {
  border-radius: 25px;
  border: 1.5px solid #767676;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-upload-image-container p {
  font-family: "Righteous", cursive;
  margin-bottom: 1rem;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-upload-image-container label input {
  display: none;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-upload-image-container label button {
  border: 2px solid #372019;
  background-color: white;
  margin-right: 0.875rem;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-upload-image-container button {
  border: 2px solid #372019;
  background-color: white;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-upload-image-container {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 1rem;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .btns-wrapper {
  display: none;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .btns-wrapper input {
  display: none;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-date-time-container1 {
  display: flex;
  flex-flow: column nowrap;
  margin-top: -1rem;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-date-time-container1 {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 1rem;
  }
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-date-time-container1 .choice {
  font-family: "Literata", serif;
  font-size: 18px;
  margin-bottom: 1rem;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-date-time-container1 .suggestion {
  font-family: "Literata", serif;
  text-align: center;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-date-time-container1 .suggestion a {
  text-decoration: none;
  color: #372019;
  font-size: 18px;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-date-time-container1 .mycontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-date-time-container1 .mycontainer button {
  border: none;
  background-color: white;
}
.book-appointment-single-main-container .book-appointment-single-form-container .book-appointment-single-grid-container .book-appointment-single-date-time-container1 .mycontainer button img {
  height: 50px;
  width: 50px;
}
.book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
  margin-top: -1.25rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 900px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container {
    justify-content: flex-end;
    margin-right: 7%;
  }
}
.book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .cancel-button {
  border-radius: 25px;
  padding: 0.675rem;
  width: 25%;
  border: 2px solid #372019;
  color: #372019;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #FFF;
}
@media screen and (min-width: 600px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .cancel-button {
    width: 24%;
  }
}
@media screen and (min-width: 670px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .cancel-button {
    width: 23%;
  }
}
@media screen and (min-width: 740px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .cancel-button {
    width: 22%;
  }
}
@media screen and (min-width: 810px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .cancel-button {
    width: 21%;
  }
}
.book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .confirm-button {
  border-radius: 25px;
  padding: 0.675rem;
  width: 25%;
  border: 2px solid #FF0000;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #FF0000;
}
@media screen and (min-width: 600px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .confirm-button {
    width: 24%;
  }
}
@media screen and (min-width: 670px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .confirm-button {
    width: 23%;
  }
}
@media screen and (min-width: 740px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .confirm-button {
    width: 22%;
  }
}
@media screen and (min-width: 810px) {
  .book-appointment-single-main-container .book-appointment-single-cancel-update-buttons-container .confirm-button {
    width: 21%;
  }
}

/* APPOINTMENTS MANAGEMENT CLIENT ============================================ */
.content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.appointments-container {
  margin-bottom: 1rem;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background-color: silver;
  padding: 2rem;
  border-radius: 8px;
}

.appointment-card-btn {
  appearance: none;
  background-color: rgba(250, 250, 250, 0.5);
  border: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 400px;
  border-radius: 8px;
  column-gap: 1rem;
  cursor: pointer;
}

.appointment-card-btn .appointment-info {
  display: grid;
  justify-items: start;
}

.appointment-card-btn img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

#createAppoinmentBtn {
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 25px;
  padding: 0.5rem 1.875rem;
  background-color: #FF0000;
  border: 1px solid #FF0000;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

/* The Modal (background) */
.modal {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0%;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  border: 1px solid #888;
  border-radius: 0.5rem;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.page-content {
  display: grid;
}

/* APPOINTMENTS MANAGEMENT ARTIST ============================================ */
.content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.appointments-container {
  margin-bottom: 1rem;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background-color: silver;
  padding: 2rem;
  border-radius: 8px;
}

.appointment-card-btn {
  appearance: none;
  background-color: rgba(250, 250, 250, 0.5);
  border: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 400px;
  border-radius: 8px;
  column-gap: 1rem;
}

.appointment-card-btn .appointment-info {
  display: grid;
  justify-items: start;
}

.appointment-card-btn img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

#createAppoinmentBtn {
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 25px;
  padding: 0.5rem 1.875rem;
  background-color: #FF0000;
  border: 1px solid #FF0000;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

/* TATTOO EXPLORER */
.tattoo-explorer-main-container h1 {
  font-family: "Righteous", cursive;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tattoo-explorer-main-container .tattoo-explorer-search-details-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.tattoo-explorer-main-container .tattoo-explorer-search-details-container .tattoo-explorer-search-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 0.675rem;
  border: 1px solid #372019;
  border-radius: 25px;
}
.tattoo-explorer-main-container .tattoo-explorer-search-details-container .tattoo-explorer-search-container img {
  height: 40px;
  width: 40px;
}
.tattoo-explorer-main-container .tattoo-explorer-search-details-container .tattoo-explorer-search-container input {
  border: none;
}
.tattoo-explorer-main-container .tattoo-explorer-search-details-container .tattoo-explorer-choose-city-container select {
  border: 1px solid #372019;
  padding: 0.675rem;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  color: #767676;
  width: 100%;
}
.tattoo-explorer-main-container .tattoo-explorer-filter-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.tattoo-explorer-main-container .tattoo-explorer-filter-buttons button {
  color: #372019;
  border: 2px solid #372019;
  background-color: #FFF;
  padding: 0.675rem;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
