
.page-content{
  margin: 1rem 4%;

  h3{
    font-family: $font-righteous;
    text-align: center;
    font-size: 26px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .content-container{
    // background-color: red;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // align-items: center;
    // grid-gap: 1rem;



    .appointments-container{

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      margin-bottom: 1rem;

      .appointment-card-btn{
        margin: 0;
        padding: 0;
        width: 280px;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        background-color: $neutral-white;
        border: 0px;
        margin-bottom: 1rem;
       
        img{
          height: 180px;
          width: 100%;
          object-fit: cover;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        .appointment-info{
          padding-top: .5rem;
          padding-bottom: .5rem;
          padding-left: 1rem;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          background-color: $primary-orange-shade;
          width: 100%;
          height: 100px;

          p{
            font-family: $font-poppins;
            text-align: start;
          }

          p:nth-of-type(1){
            font-family: $font-poppins;

            span{
              font-weight: 600;
              text-decoration: underline;
            }
          }

          
        }
      }
    }
  }
}




// .page-content{

//   margin: 1rem 4% ;

//   h3{
    // font-family: $font-righteous;
    // text-align: center;
    // font-size: 26 px;
    // margin-top: 1rem;
//   }

//   .content-container {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     justify-content: center;
//     align-items: center;
//     padding: 2rem 0;
  
//     .appointments-container {
//       margin-bottom: 1rem;
//       display: grid;
//       justify-content: flex-start;
//       align-items: center;
//       gap: 0.5rem;
//       background-color: silver;
//       padding: 2rem;
//       border-radius: 8px;
  
//       .appointment-card-btn {
//         appearance: none;
//         background-color: rgba(250, 250, 250, 0.5);
//         border: none;
//         padding: 1rem;
//         display: grid;
//         grid-template-columns: auto 1fr;
//         width: 400px;
//         border-radius: 8px;
//         column-gap: 1rem;
//         cursor: pointer;
  
  
//         img{
//           width: 100px;
//           height: auto;
//           border-radius: 8px;
//         }
  
  
//         .appointment-info{
//           display: grid;
//           justify-items: start;
//           pointer-events: none;
//         }
  
//       }
//     }
  
//   }
// }




#createAppoinmentBtn {
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 25px;
  padding: .5rem 1.875rem;
  background-color: $primary-red;
  border: 1px solid $primary-red;
  color: $neutral-white;
  font-family: $font-poppins;
}

.thumbnail-image {
  pointer-events: none;
}





/* The Modal (background) */
.modal {
  visibility: hidden;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0%;
  top: 0%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;


    /* Modal Content */
  .modal-content {
    background-color: $primary-orange-shade;
    margin: auto;
    padding: 2rem;
    // border: 1px solid #888;
    border-radius: 25px;
    width: 60%;
    height: 90vh;
    overflow: auto;


    @media screen and (min-width: 900px){
      width: 80%;
    }

    .modal-content__header {
      display: grid;
      grid-template-columns: 1fr auto;
      margin-bottom: 1rem;

      .modal-content__header__title{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: .75rem;
        
    

        h3{
          color: $eco-friendly-dark-green;
          align-self: center;
          font-size: 24px;
         
        }

        h3:nth-of-type(2){
          color: $primary-red-shade;
          text-decoration: underline;
        }
      }
    }

    .modal-form{
      padding: 1rem;
      
      @media screen and (min-width: 900px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr .5fr .5fr .5fr;
        gap: 2rem;

        select{
          width: 90%;
        }

        textarea{
          width: 90%;
        }

        label{
          font-size: 18px;
          width: 90%;
        }

        p{
          font-size: 18px;
        }

        .appointment-detail-input-wrapper:nth-of-type(1){
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }

        .appointment-detail-input-wrapper:nth-of-type(2){
          grid-row: 2 / 3;
          grid-column: 1 / 2;
        }

        .appointment-detail-input-wrapper:nth-of-type(3){
          grid-row: 3 / 4;
          grid-column: 1 / 2;
        }

        .appointment-detail-input-wrapper:nth-of-type(4){
          grid-row: 4 / 5;
          grid-column: 1 / 2;
        }

        .appointment-detail-input-wrapper:nth-of-type(5){
          grid-row: 4 / 5;
          grid-column: 1 / 2;
          margin-top: 6rem;
        }

        .appointment-detail-input-wrapper:nth-of-type(6){
          grid-row: 1 / 3;
          grid-column: 2 / 3;
          height: 20vh;
          margin-bottom: 7rem;
        }

        .modal-content__time-date-wrapper{
          grid-row: 3 / 4;
          grid-column: 2 / 3;
        }

        .appointment-detail-button-wrapper{
          grid-row: 4 / 5;
          grid-column: 2 / 3;

          button{
            height: 40px;
            align-self: center;
            margin-top: -5rem;
          }
        }
      }

      .appointment-detail-input-wrapper{
        label{
          font-family: $font-righteous;
          color: $primary-red-shade;
        }

        select{
          border-radius: 25px;
          font-family: $font-poppins;
          font-size: small;
          padding: .575rem;
        }

        textarea{
          border-radius: 25px;
          font-family: $font-poppins;
          font-size: small;
        }

        p{
          font-family: $font-righteous;
          color: $primary-red-shade;
        }

        img{
          object-fit: cover;
          border-radius: 25px;
          max-width: 100%;
          height: 270px;
        }

        .modal-content__time-date-wrapper{
          border: 1.5px solid $neutral-dark-grey;
          border-radius: 20px;
          background-color: white;
          padding: .5rem;

          p{
            font-family: $font-poppins;
            font-size: small;
          }
        }

      }

      .appointment-detail-button-wrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 1rem;

        button{
          flex-basis: 40%;
        }

        .appointment-detail__button-cancel{
          background-color: white;
          font-family: $font-poppins;
          color: $primary-red-shade;
          font-weight: 600;
          border-radius: 25px;
          border: 2px solid $primary-red-shade;
          padding: .475rem;;
        }

        .appointment-detail__button-edit{
          background-color: $primary-red;
          font-family: $font-poppins;
          color: $neutral-white;
          font-weight: 600;
          border-radius: 25px;
          border: 2px solid $primary-red;
          padding: .475rem;;
        }

        .appointment-detail__button-accept{
          background-color: $primary-red;
          font-family: $font-poppins;
          color: $neutral-white;
          font-weight: 600;
          border-radius: 25px;
          border: 2px solid $primary-red;
          padding: .475rem;;
        }




      }
    }

  }


}




.appointment-detail-input-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;


  label {
    font-weight: bold;
  }

  select {
    appearance: none;
    border-radius: 12px;
    padding: 0 .5rem;
  }

  select:disabled {
    color: black;
    opacity: 1;
  }


  .modal-input-enabled {
    appearance: auto;
  }

}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.page-content {
  display: grid;

}

.modal-content__time-date-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid grey;
}

.appointment-detail-date-wrapper {
  align-items: flex-start;
}

.modal-image-input-label {
  cursor: pointer;
}

.modal-image-input {
  border: 1px solid grey;
}

.label-input-file-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border:4px solid #FFFFFF;
  overflow:hidden;
  transition: all 1s;
  color: #FFFFFF;

  border: 1px solid grey;

  .fa-solid{
    color: black;
  }


  input[type="file"] {
    height:40px;
    width:40px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
  }
}

.upload-image-container{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
