.content-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.appointments-container {
    margin-bottom: 1rem;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: silver;
    padding: 2rem;
    border-radius: 8px;
}

.appointment-card-btn{
    appearance: none;
    background-color: rgba(250, 250, 250, 0.5);
    border: none;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 400px;
    border-radius: 8px;
    column-gap: 1rem;
}

.appointment-card-btn .appointment-info{
    display: grid;
    justify-items: start;
}

.appointment-card-btn img{
    width: 100px;
    height: auto;
    border-radius: 8px;
}

#createAppoinmentBtn{
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 25px;
    padding: .5rem 1.875rem;
    background-color: $primary-red;
    border: 1px solid $primary-red;
    color: $neutral-white;
    font-family: $font-poppins;
}
