.gallery-artist-main-container{
    margin: 2rem 4%;
    display: flex;
    flex-flow: column nowrap;


    .gallery-artist-main-cover-image{
        display: none;
    }

    .gallery-artist-main-profile-icons{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 1rem;


            img {
                border-radius: 50%;
                height: 180px;
                border: 5px solid $warning;
                width: 180px;
                object-fit: cover;
            }
        }

    }

    .artist-gallery-main-name-heading{
        margin-top: 1rem;
        font-family: $font-righteous;
        text-align: center;
        color: $primary-red;
    }

    .manage-appointment-button{
        margin-top: 1rem;
        margin-bottom:  1rem;
        border: 2px solid $primary-red;  
        border-radius: 25px;
        padding: .675rem;
        width: 200px;
        align-self: center;
        font-family: $font-poppins;
        font-size: small;
        font-weight: 700;
        background-color: $primary-red;
        color: $neutral-white;

        &:hover{
            border: 2px solid $warning;
            color: $neutral-white;
            background-color: $warning;
        }

        &:active{
            border: 2px solid $primary-red;
            color: $primary-red;
            background-color: $neutral-white;
        }

    }

    .artist-gallery-main-artist-bio{
        text-align: center;
        line-height: 1.5;
        font-family: $font-poppins;

    }


.addButtons{

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;

    label{
        border: 2px solid $primary-red;
        padding: .675rem;
        border-radius: 25px;
        text-align: center;
        font-family: $font-poppins;
        font-size: small;
        font-weight: 600;
        background-color: $primary-red;
        color: $neutral-white;
        width: 120px;

        &:hover{
            border: 2px solid $warning;
            color: $neutral-white;
            background-color: $warning;
        }

        &:active{
            border: 2px solid $primary-red;
            color: $primary-red;
            background-color: $neutral-white;
        }

        #addImageArtist{
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
    }

    button{
        width: 120px;
        border-radius: 25px;
        font-family: $font-poppins;
        font-size: small;
        font-weight: 600;
        border: 2px solid $primary-red-shade;
        color: $primary-red-shade;
        background-color: $neutral-white;
        padding: .675rem;

        &:hover{
            border: 2px solid $primary-red;
            color: $primary-red;
        }

        &:active{
            border: 2px solid $warning;
            color: $neutral-white;
            background-color: $warning;
        }

    }

}

.gallery-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    margin: 2rem 8%;
    padding-bottom: 2rem;

    @media screen and (min-width: 700px){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1100px){
        grid-template-columns: 1fr 1fr 1fr;
    }


    img{
        width: 400px;
        height: 400px;
        cursor: pointer;
        object-fit: cover;
        margin: 0 auto;
        transition: 0.3s all ease;
        border-radius: 5%;
        pointer-events: none;


        @media screen and (min-width: 500px){
            width: 500px;
        }

        @media screen and (min-width: 600px){
            width: 600px;
        }

    }   
}

/////////// to add more photos message /////////

#addImageMessage {
    color: $warning;
    text-align: center;
}

/////////////