
// HEADER

header{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    margin: 0;
    padding:0;
    padding-top: .5 rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid black;

    nav{
        padding: 0;
        margin: 0;


        ul{
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 1.5rem;
            padding: 0 3rem;
            margin: 0;

            img{
                max-width: 140px;
                max-height: 140px;
        
            }

            li{
                align-self: center;
                font-family: $font-righteous;
                font-size: 20px;

                a{
                    text-decoration: none;
                    color: $primary-red-shade;
                    //font-size: add variab;e
                }
            }
        }
    }

    .header-search-container{
        display: flex;
        flex-flow: row nowrap;

        form{
            align-self: center;
        }

        button{
            margin-left: 4em;
            border: none;
            background-color: white;

            img{
                max-width: 33px;
                max-height: 33px;
            }
        }

        input{
            display: none;
        }
    }

    .header-login-button-container{
        display: flex;
        justify-content: end;

        a{
            align-self: center;
            margin-right: 4em;
            text-decoration: none;
            color: $primary-red-shade;
            border: 1px solid $warning;
            border-radius: 25px;
            padding: .5rem 1.875rem;
            // font-size: 
            font-family: $font-poppins;
        }
    }
}

// FOOTER

footer{
    border-top: 1px solid black;


    .footer-info-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: 2rem;
        margin-left:5%;
        margin-right: 5%;
        // grid-template-columns: 1fr 1fr 1fr;
        // justify-items: cente;


        h3{
            font-family: $font-footer;
            font-weight: 500;
            text-align: start;
        }

        p{
            font-family: $font-footer;
            text-align: start;
            margin-top: 1rem;


            a{
                text-decoration: none;
                text-align: start;
                color: black;
            }
        }
    }

    .footer-nav-container{
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;


        nav{

            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;

                display: flex;
                gap: 1rem;
                justify-content: center;

                li{
                    max-width: 30px;
                    max-height: 30px;
                } 
            }
        }
        
        p{
            text-align: center;
            font-family: $font-footer;
            color: #505050;
            font-size: 11px;
            align-self: flex-end;

        }
    }

}