

.header-desktop{
    display: none;

    @media screen and (min-width: 900px){
    //    display: grid;
    //    grid-template-columns: .5fr 1fr .5fr;
    //    margin: 0;
    //    padding:0;
    //    padding-top: .5 rem;
    //    padding-bottom: .5rem;
    //    border-bottom: 1px solid black;
    // display: flex;
    // flex-flow: row nowrap;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-content: space-between;
    border-bottom: 1px solid black;

       nav{
        padding: 0;


            ul{
                list-style-type: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                gap: 2.5rem;
                padding: 0 3rem;
                margin: 0;

                img{
                    max-width: 140px;
                    max-height: 140px;
                }

                li{
                    align-self: center;
                    font-family: $font-righteous;
                    font-size: 20px;

                    a{
                        text-decoration: none;
                        color: $primary-red-shade;
                        //font-size: add variab;e
                    }
                }
            }
       }

       .header-search-container{
            display: flex;
            flex-flow: row nowrap;

            form{
                align-self: center;
            }

            button{
                margin-left: 4em;
                border: none;
                background-color: white;

                img{
                    max-width: 33px;
                    max-height: 33px;
                }
            }

            input{
                display: none;
            }
       }

       .header-login-button-container{
        display: flex;
        justify-content: end;

        button{
            background-color: $neutral-white;
            border: none;

            a{
                align-self: center;
                margin-right: 4em;
                text-decoration: none;
                color: $primary-red-shade;
                border: 1px solid $warning;
                border-radius: 25px;
                padding: .5rem 1.875rem;
                font-weight: 400;
                font-family: $font-poppins;

                &:hover{
                    border: 2.5px solid $warning;
                    font-weight: 600;
                }
            }
        }

    }
    }

}

.header-mobile{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $primary-red-shade;
    // padding-bottom: 1rem;
    // padding-top: 1rem;
    padding: 1rem 2rem;


    img{
        height: 70px;
        width: 70px;
    }

    button{
        background-color: $neutral-white;
        border: none;

        img{
            height: 60px;
            width: 60px;
        }
    }

    @media screen and (min-width: 900px){
        display: none;
    }
}

/* FOOTER */

footer{
    border-top: 2px solid $warning;
    display: flex;
    flex-flow: column nowrap;



    .footer-main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 80vw;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-right: 2.2rem;;


        @media screen and (min-width: 900px){
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: space-between;
            width: 95vw;
        }

        .footer-company-container{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width: 80%;
            justify-self: center;
            margin-bottom: 2rem;


            @media screen and (min-width: 900px){
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }


            .footer-company-content-container{      
                display: flex;
                flex-flow: column nowrap;

                h3{
                    align-self: flex-end;
                    font-family: $font-righteous;
                    width: 70%;
                }

                p{
                    width: 70%;
                    align-self: flex-end;
                    font-family: $font-poppins;

                    a{
                        text-decoration: none;
                        font-size: small;
                        color: $primary-red-shade;
                    }

                }
            }
        }

        .footer-help-centre-container{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: start;
            width: 80%;
            justify-self: center;
            // padding-right: 1.2rem;

            @media screen and (min-width: 900px){
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            .footer-help-centre-content-container{      
                display: flex;
                flex-flow: column nowrap;


                h3{
                    align-self: flex-end;
                    font-family: $font-righteous;
                    width: 70%;
                }

                p{
                    width: 70%;
                    align-self: flex-end;
                    font-family: $font-poppins;

                    a{
                        text-decoration: none;
                        font-size: small;
                        color: $primary-red-shade;
                    }

                }
            }

        }

        .footer-legal-container{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            justify-self: start;
            width: 80%;
            justify-self: center;

            @media screen and (min-width: 900px){
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }

            .footer-legal-content-container{      
                display: flex;
                flex-flow: column nowrap;

                h3{
                    align-self: flex-end;
                    font-family: $font-righteous;
                    width: 70%;
                }

                p{
                    width: 70%;
                    align-self: flex-end;
                    font-family: $font-poppins;

                    a{
                        text-decoration: none;
                        font-size: small;
                        color: $primary-red-shade;
                    }

                }
            }

        }

        .footer-nav-container{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            justify-self: center;
            align-self: center;
            width: 80%;
            // padding-right: 1.4rem;

            @media screen and (min-width: 900px){
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
      

            .footer-nav-content{
                display: flex;
                flex-flow: column nowrap;
  
                
                nav{
                    align-self: end;

                    width:  70%;

                    ul{
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: start;
  
                        
                        li{
                            justify-self: end;
                            img{
                                height: 30px;
                                width: 30px;

                                @media screen and (min-width: 900px){
                                    height: 40px;
                                    width: 40px;
                                }
                            }
                        }
                    }
                }

            }

        }

        .copyright-container{
            display: none;

            @media screen and (min-width: 900px){
                display: block;
                align-self: center;
                font-family: $font-poppins;
                font-size: small;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
        }
    }

    button{
        border: 1px solid red;
        width: 55px;
        height: 55px;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 1rem;;
        border: 1px solid $neutral-light-orange;
        background-color: $neutral-light-orange;
        
        img{
            height: 50px;
            width: 50px;
        }

        @media screen and (min-width: 900px){
            display: none;
        }
    }

    .copyright{
        text-align: center;
        margin: 2rem 0;
        font-family: $font-poppins;
        font-size: small;

        @media screen and (min-width: 900px){
            display: none;
        }
    }
}


// footer{
//     border-top: 1px solid black;


//     .footer-info-container{
//         display: flex;
//         flex-flow: row nowrap;
//         justify-content: space-between;
//         margin-top: 2rem;
//         margin-left:5%;
//         margin-right: 5%;
//         // grid-template-columns: 1fr 1fr 1fr;
//         // justify-items: cente;


//         h3{
//             font-family: $font-footer;
//             font-weight: 500;
//             text-align: start;
//         }

//         p{
//             font-family: $font-footer;
//             text-align: start;
//             margin-top: 1rem;


//             a{
//                 text-decoration: none;
//                 text-align: start;
//                 color: black;
//             }
//         }
//     }

//     .footer-nav-container{
//         display: flex;
//         flex-flow: row nowrap;
//         gap: 2rem;
//         margin-left: 5%;
//         margin-right: 5%;
//         margin-top: 1rem;
//         margin-bottom: 1rem;
//         padding: 0;


//         nav{

//             ul{
//                 list-style-type: none;
//                 padding: 0;
//                 margin: 0;

//                 display: flex;
//                 gap: 1rem;
//                 justify-content: center;

//                 li{
//                     max-width: 30px;
//                     max-height: 30px;
//                 } 
//             }
//         }
        
//         p{
//             text-align: center;
//             font-family: $font-footer;
//             color: #505050;
//             font-size: 11px;
//             align-self: flex-end;

//         }
//     }

// }