.tattoo-explorer-main-container{
    

    h1{
        font-family: $font-righteous;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .tattoo-explorer-search-details-container{
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        width: 80vw;
        margin: 0 auto; 
        margin-bottom: 2rem;

        .tattoo-explorer-search-container{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0 .675rem;
            border: 1px solid $primary-red-shade;
            border-radius: 25px;

            img{
                height: 40px;
                width: 40px;
            }

            input{
                border: none;   
                flex-basis: 80%;
                font-family: $font-poppins;
                
            }
        }

        .tattoo-explorer-choose-city-container{

            select{
                border: 1px solid $primary-red-shade;
                padding: .675rem;
                border-radius: 25px;
                font-family: $font-poppins;
                color: $neutral-dark-grey;
                width: 100%;
            }
        }
    }

    .tattoo-explorer-filter-buttons{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;

        

        button{
            color: $primary-red-shade;
            border: 2px solid $primary-red-shade;
            background-color: $neutral-white;
            padding: .675rem;
            border-radius: 25px;
            font-family: $font-poppins;
            font-size: small;
            font-weight: 300;
        }
    }
}

///////////////// Modal tattoo explore //////////////////
#displayGalleryContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.imagesExplorer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 0 1em;
}

.imagesExplorer img {
    max-width: 100%;
    cursor: pointer;
    transition: 0.3s all ease;
    border-radius: 5%;
}

.imagesExplorer img:hover {
    transform: scale(0.95);
}

.modalExplorer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $neutral-white;
    color: black;
    z-index: 1;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
}

.modalContentExplorer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalImgExplorer {
    max-width: 80vw;
    max-height: 80vh;
}

.modalTxtExplorer {
    margin-top: 1em;
}

.closeModalExplorer {
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}

.modalExplorer.appear {
    opacity: 1;
    pointer-events: all;
}

.modalExplorer.appear img {
    border-radius: 5%;
}

.modalExplorer.appear .modalImgExplorer,
.modalExplorer.appear .modalTxtExplorer {
    animation: zoom 0.3s linear;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modalExplorer i {
    background-color: $neutral-dark-grey;
    color: black;
    padding: .5rem .75rem;
    border-radius: 50%;
}

#ctaBtn button {
    width: 100%;
    border-radius: 25px;
    margin: 0 auto;
    padding: .675rem 2.5rem;
    font-family: $font-poppins;
    font-weight: 600;
    color: $neutral-white;
    background-color: $primary-red;
    border: 1px solid $primary-red;
    cursor: pointer;
  }

///////////////// End modal tattoo explorer //////////////////
