
// Colors 

$primary-red: #FF0000;
$primary-red-shade: #372019;
$primary-orange-shade: #F1DBCB;
$primary-yellow-shade: #F9E8C5;
$eco-friendly-dark-green: #00B5B2;
$eco-friendly-green-shade: #0ACC92;
$neutral-light-orange: #DBBAAD;
$neutral-white: #FFF;
$neutral-light-grey: #E2E2E2;
$neutral-dark-grey: #767676;
$warning: #FF9E81; 

// Fonts

$font-poppins: 'Poppins', sans-serif;
$font-righteous: 'Righteous', cursive;
$font-footer: 'Literata', serif;

// Headings 