
// Colors 

$primary-red: #FF0000;
$primary-red-shade: #F9CCC5;
$primary-yellow-shade: #F9E8C5;
$eco-friendly-dark-green: #00B5B2;
$eco-friendly-green-shade: #0ACC92;
$neutral-light-orange: #DBBAAD;
$neutral-white: #FFF;
$neutral-light-grey: #E2E2E2;
$warning: #FF9E81; 

// Fonts